body, html {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;;
}
a{
    text-decoration: none; 
}
.avatar{
    margin: 10;
    width: 60;
    height: 60;
}
.avatar-list{
    background-color: cadetblue;
    color: navy;
    margin: 10;
    width: 60;
    height: 60;
}
.bold{
    font-weight: bold;
}
.card {
    height: 600px;
    width: 250px; 
    padding: 10px;
    margin: 20px;
    float: left; 
    border: 1px solid gray;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.center{
    text-align: center;
}

.container{
    text-align: center; 
    margin: 10px; 
}
.create-container{
    margin-top: 10%;
    margin-left: 20%; 
    margin-right: 20%;
    text-align: center; 
}
.heading{
    color: beige;
}
.heading-container{
    margin-bottom: 10px; 
}
.inbox-div {
    margin-top: 20px;
}
.filestackButton{ 
    font-size: 14px;
    border-radius: 5px; 
    padding: 5px; 
    text-align: center;
    font-family: 'Roboto'; 
    cursor: pointer;
}
.flex-box{
    display: flex; 
    justify-content: center;
    flex-direction: row; 
    flex-wrap: wrap;
}
.float-right{
    float: right; 
}
.float-left{
    float: left
}
/* form {
    padding: 25px;
    border-radius: 2px;
} */
.inbox-container{
    margin: 0 auto; 
}
input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}
.flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.member-list{
    padding: 5px;
    margin-top: 5px; 
}
.message {
    padding: 10px 0;
}
.message-margin {
    margin-left: 5px; 
}
.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}
.mini-card {
    height: 120px;
    width: 120px; 
    padding: 5px;
    margin: 10px;
    float: left; 
    border: 1px solid gray;
    text-align: center;
}
.mini-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.navbar {
  background-color: beige;
  width: 100%;
  border-radius: 0px;
}
.navbar li {
    float: left; 
}
.picture-div{
    margin-top: 5px; 
    text-align: center;
    width: 100%;
}
.right{
    text-align: right; 
    margin-top: 15px; 
}
.padding{
    padding: 5px;
    margin-top: 20px; 
}
#heading {
    /* text-align: center;  */
    margin-top: 15px; 
    margin-left: 30px; 
    font-size: 3em; 
}
.dialog-title{
    background-color: rgb(193, 167, 201); 
    text-align: center;
}
.dialog-list{
    padding: 5px;  
}
.settings-avatar{
    margin: 10;
    width: 60;
    height: 60;
    display: inline-flex;
}
#subheading {
    text-align: center;
    font-style: italic;
}
