body, html {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;;
}
a{
    text-decoration: none; 
}
.avatar{
    margin: 10;
    width: 60;
    height: 60;
}
.avatar-list{
    background-color: cadetblue;
    color: navy;
    margin: 10;
    width: 60;
    height: 60;
}
.bold{
    font-weight: bold;
}
.card {
    height: 600px;
    width: 250px; 
    padding: 10px;
    margin: 20px;
    float: left; 
    border: 1px solid gray;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.center{
    text-align: center;
}
.container {
    text-align: center;
    padding: 0px; 
    line-height: .5em; 
}
.create-container{
    margin-top: 10%;
    margin-left: 20%; 
    margin-right: 20%;
    text-align: center; 
}
.heading{
    color: beige;
}
.heading-container{
    margin-bottom: 10px; 
}
.inbox-div {
    margin-top: 20px;
}
.filestackButton{ 
    font-size: 16px;
    background-color: beige; 
    border-radius: 5px; 
    padding: 5px; 
    text-align: center; 
}
.float-right{
    float: right; 
}
.float-left{
    float: left
}
form {
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}
.login-container{
 background-image: url('../components/Header/Mini-longhair-dachshund-puppy-24511277778995262f.jpg');
}
.member-list{
    padding: 5px;
    margin-top: 5px; 
}
.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}
.mini-card {
    height: 120px;
    width: 120px; 
    padding: 5px;
    margin: 10px;
    float: left; 
    border: 1px solid gray;
    text-align: center;
}
.mini-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.navbar {
  background-color: beige;
  width: 100%;
  border-radius: 0px;
}
.navbar li {
    float: left; 
}
.right{
    text-align: right; 
    margin-top: 15px; 
}
ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
#heading {
    /* text-align: center;  */
    margin-top: 15px; 
    margin-left: 30px; 
    font-size: 3em; 
}
.dialog-title{
    background-color: rgb(193, 167, 201); 
    text-align: center;
}
.dialog-list{
    padding: 5px;  
}
#subheading {
    text-align: center;
    font-style: italic;
}
#welcome {
    text-align: center; 
    margin-bottom: 10px; 
}