body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%; 
}
a{
    text-decoration: none; 
}
.bold{
    font-weight: bold;
}
.card {
    height: 600px;
    width: 250px; 
    padding: 10px;
    margin: 20px;
    float: left; 
    border: 1px solid gray;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.center{
    text-align: center;
}
.container {
    text-align: center;
    padding: 0px; 
    line-height: .5em; 
}
.create-container{
    margin-left: 20%; 
    margin-right: 20%;
    text-align: center; 
}
.heading-container{
    margin-bottom: 10px; 
}
.instructions {
   background-color: beige; 
    padding: 5px;
    color: gray; 
    height: 100px;  
}
.filestackButton{
    background-color: tomato; 
    color: white;
    font-size: 14px;
    border-radius: 5px; 
    padding: 5px; 
    align-content: center; 
}
.float-right{
    float: right; 
}
form {
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}
.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: beige;
  width: 100%;
  border-radius: 0px;
}
.navbar li {
    float: left; 
}
.right{
    text-align: right; 
    margin-top: 15px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
#heading {
    /* text-align: center;  */
    margin-top: 15px; 
    margin-left: 30px; 
    font-size: 3em; 
}
#subheading {
    text-align: center;
    font-style: italic;
}
#welcome {
    text-align: center; 
    margin-bottom: 10px; 
}