.card {
    height: 150px;
    width: 250px; 
    padding: 10px;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center; 
    border: 1px solid gray;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}